<!DOCTYPE html>
<html lang=en xmlns:th="https://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<section>
   <div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div  style="height:240px;" id="login-box" class="col-md-12">
                    <div  th:if="${session.message}" class="container">
     <div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
       <span th:text="${session.message.content}"></span>
       <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
     </div>
      </div>
     <form id="login-form" class="form" th:action="@{/send-otp}" method="post">
     <h3 class="text-center text-info">Your Email Here</h3>
                           
                            
                            <div class="form-group">
                               
                                <input  required type="email" name="email" id="email" class="form-control"
                                placeholder="Enter Email Here">
                            </div>
                           <div class="form-group text-center m-2">
                           <input type="submit" name="submit" class="btn btn-warning" value="send-otp">
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>